/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Para evitar rolagem durante a animação */
}

#content {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease-in-out;
}

/* Classe para a animação de saída */
.zoom-out {
    transform: scale(0.9);
}

/* Classe para a animação de entrada */
.zoom-in {
    transform: scale(1.1);
}

body.zooming-out #content {
    transform: scale(0.9);
}

body.zooming-in #content {
    transform: scale(1.1);
}