body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
}

#content {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s; 
}

.zoom-out { 
    transform: scale(0.9);
}

.zoom-in {
    transform: scale(1.1);
}

body.zooming-out #content {
    transform: scale(0.9);
}

body.zooming-in #content {
    transform: scale(1.1);
}
